{% extends "layout.html" %}
{% block content %}
<style type="text/css">
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x-axis path {
  display: none;
}

#leaderboard_title {
  position: absolute;
  top:5px;
  left:50%;
  min-width: 100px;
  width: 30%;
  border: 3px solid #699CC6;
  background-color: #fff;
  margin-left: -15%;
  text-align: center;
  color: #111;
  height: 75px;
  z-index: 1500;
  font-size: 200%;
  vertical-align: center;
  padding-top: 25px;
  /*border-radius: 15px;*/
}
</style>

<div id="leaderboard_title">
Weekly Steps Taken
</div>

<div id="cse-leaderboard"></div>

<script>

var margin = {top: 90, right: 0, bottom: 40, left: 60}
var width = document.documentElement.clientWidth - margin.left - margin.right - 30
var height = document.documentElement.clientHeight - margin.top - margin.bottom - 65

// Set up d3 SVG
var svg = d3.select("#cse-leaderboard").append("svg")
  .attr("class", "leaderboard-svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
.append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var xScale = d3.scale.ordinal()
  .rangeRoundBands([3, width], .1);

var yScale = d3.scale.linear()
  .rangeRound([height, 0]);

var xAxis = d3.svg.axis()
  .scale(xScale)
  .orient("bottom");

var yAxis = d3.svg.axis()
  .scale(yScale)
  .orient("left")
  .tickFormat(d3.format(".2s"));

// Set up x axis positioning in svg
svg.append("g")
.attr("class", "x-axis")
.attr("transform", "translate(0," + height + ")")
.call(xAxis);

// Set up y axis positioning and label
svg.append("g")
  .attr("class", "y-axis")
  .call(yAxis)
  .append("text")
    .attr("y", 3)
    .attr("transform", "rotate(-90)")
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("Steps");

// Set up our days to color mapping
var cScale = d3.scale.ordinal()
  .domain(["m", "t", "w", "th", "f", "s", "su"])
  .range(["#212A55", "#3A5E8C", "#699CC6", "#679146", "#B7BF10", "#FFC72C", "#F6D565"]);

var legend = svg.selectAll(".legend")
  .data(cScale.domain())
  .enter()

legend.append("rect")
  .attr("x", width - 18)
  .attr("y", function(d,i){return i * 20})
  .attr("width", 18)
  .attr("height", 18)
  .attr("vertical-align", "top")
  .style("fill", function(d){return cScale(d)});

legend.append("text")
  .attr("x", width - 24)
  .attr("y", function(d,i){return i * 20})
  .attr("transform", function(d){ return "translate(0,9)" })
  .style("text-anchor", "end")
  .style("vertical-align", "middle")
  .style("font-size", 12)
  .text(function(d){ return d; });

getInfoAndRender();

// Run our leaderboard on a loop, updating every 10 seconds
var looper = setInterval(function(){getInfoAndRender()}, 10000)

// Gets the data from the server, passes it to our D3 js
function getInfoAndRender() {
  $.getJSON("{{ meta.root }}/group_info", function(data) {
    updateLeaderBoard(data);
  });
}

function updateLeaderBoard(data) {
  console.log(data);
  
  xScale.domain(data.map(function(d){return d.username}))
        .rangeRoundBands([3, width], .1);
  yScale.domain([0, d3.max(data, function(d){ return d.total_steps; } )]);
  
  var step_array = []

  data.forEach(function(d) {
    var y0 = 0;
    d.step_counts.forEach(function(daystep){
      daystep.y0 = y0;
      daystep.y1 = y0 + daystep.steps;
      daystep.x = xScale(d.username)
      y0 = daystep.y1;
      step_array.push(daystep)
    });
  });

  var font_adjuster = 22 - (22 % data.length)
  $(".x-axis").css("font-size", String(font_adjuster + "px"))

  var user_steps = svg.selectAll(".step-bars")
  	.data( step_array )

  user_steps.transition()
      .duration(750)
      .attr("x", function(d){ return d.x })
      .attr("y", function(d){ return yScale(d.y1) })
      .attr("height", function(d){ return yScale(d.y0) - yScale(d.y1) })
      .attr("width", xScale.rangeBand())
      .style("fill", function(d){ return cScale(d.day) });

  user_steps.enter()
      .append("rect")
      .attr("class", "step-bars")
      .attr("width", xScale.rangeBand())
      .attr("x", function(d){ return d.x })
      .attr("y", function(d){ return yScale(d.y1); })
      .attr("height", function(d){ return yScale(d.y0) - yScale(d.y1); })
      .style("fill", function(d){ return cScale(d.day) })
      .style("fill-opacity", 0)
    .transition()
      .duration(750)
      .style("fill-opacity", 1);

  user_steps.exit()
    .transition()
      .duration(750)
      .style("fill-opacity", 0)
      .remove();

  svg.select(".x-axis")
    .transition()
    .duration(500)
    .call(xAxis);

  svg.select(".y-axis")
    .transition()
    .duration(500)
    .call(yAxis);

  var step_labels = svg.selectAll(".step-labels")
                      .data(data)

  step_labels.transition()
    .duration(750)
    .text(function(d){ return d.total_steps })
    .attr("x", function(d){ return xScale(d.username) + xScale.rangeBand()/2 })
    .attr("y", function(d){ return yScale(d.total_steps) - 4 });

  step_labels.enter()
    .append("text")
    .attr("class", "step-labels")
    .attr("text-anchor", "middle")
    .text(function(d){ return d.total_steps })
    .transition()
    .duration(750)
    .attr("x", function(d){ return xScale(d.username) + xScale.rangeBand()/2  })
    .attr("y", function(d){ return yScale(d.total_steps) - 4});

  step_labels.exit()
    .transition()
    .duration(750)
    .style("opacity", 0)
    .remove();
}
</script>

{% endblock %}
