{% extends "layout.html" %}
{% block content %}
<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x-axis path {
  display: none;
}
</style>

<div id="cse-leaderboard"></div>

<script>

var margin = {top: 20, right: 20, bottom: 30, left: 40}
var width = 960 - margin.left - margin.right
var height = 500 - margin.top - margin.bottom

// Set up d3 SVG
var svg = d3.select("#cse-leaderboard").append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
.append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var xScale = d3.scale.ordinal()
  .rangeRoundBands([0, width], .1);

var yScale = d3.scale.linear()
  .rangeRound([height, 0]);

var xAxis = d3.svg.axis()
  .scale(xScale)
  .orient("bottom");

var yAxis = d3.svg.axis()
  .scale(yScale)
  .orient("left")
  .tickFormat(d3.format(".2s"));

// Set up x axis positioning in svg
svg.append("g")
.attr("class", "x-axis")
.attr("transform", "translate(0," + height + ")")
.call(xAxis);

// Set up y axis positioning and label
svg.append("g")
  .attr("class", "y-axis")
  .call(yAxis)
  .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("Steps");

// Set up our days to color mapping
var cScale = d3.scale.ordinal()
  .domain(["m", "t", "w", "th", "f", "s", "sun"])
  .range(["#212A55", "#3A5E8C", "#699CC6", "#679146", "#B7BF10", "#FFC72C", "#F6D565"]);

getInfoAndRender();

// Run our leaderboard on a loop, updating every 10 seconds
var looper = setInterval(function(){getInfoAndRender()}, 10000)

// Gets the data from the server, passes it to our D3 js
function getInfoAndRender() {
  $.getJSON($SCRIPT_ROOT + '/group_info', function(data) {
    updateLeaderBoard(data);
  });
}

function updateLeaderBoard(data) {
  console.log(data);
  var xNew = xScale.domain(data.map(function(d){return d.username})).copy();
  var yNew = yScale.domain([0, d3.max(data, function(d){ return d.total_steps; } )]).copy();
  var step_array = []

  data.forEach(function(d) {
    var y0 = 0;
    d.step_counts.forEach(function(daystep){
      daystep.y0 = y0;
      daystep.y1 = y0 + daystep.steps;
      daystep.x = xScale(d.username)
      y0 = daystep.y1;
      step_array.push(daystep)
    });
  });

  var user_steps = svg.selectAll("rect")
  	.data( step_array )

  user_steps.transition()
      .duration(750)
      .attr("x", function(d){ return d.x })
      .attr("y", function(d){ return yScale(d.y1) })
      .attr("height", function(d){ return yScale(d.y0) - yScale(d.y1) })
      .style("fill", function(d){ return cScale(d.day) });

  user_steps.enter()
      .append("rect")
      .attr("width", xScale.rangeBand())
      .attr("x", function(d){ return d.x })
      .attr("y", function(d){ return yScale(d.y1); })
      .attr("height", function(d){ return yScale(d.y0) - yScale(d.y1); })
      .style("fill", function(d){ return cScale(d.day) })
      .style("fill-opacity", 0)
    .transition()
      .duration(750)
      .style("fill-opacity", 1);

  user_steps.exit()
    .transition()
      .duration(750)
      .style("fill-opacity", 0)
      .remove();

  svg.select(".x-axis")
    .transition()
    .duration(500)
    .call(xAxis);

  svg.select(".y-axis")
    .transition()
    .duration(500)
    .call(yAxis);
}
</script>

{% endblock %}
